@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
    background-color: rgb(255, 255, 255);
}

.ant-form-item-required {
    color: white;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    color: black;
}

.link {
    text-decoration: underline;
    color:#1976d2;
}

.logo4e4 {
    padding-top: 30px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.profile_wrapper {
    padding: 5px;
    display: flex;
    align-items: flex-start;
    margin-left: 12px;
    margin-top: 4px;
}